@font-face {
   font-family: 'Dela Gothic One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/xxx/Desktop/paul/fonts/Dela Gothic One/regular.ttf') format('truetype');
}
